{% render 'partials/head.liquid' %}


    <h1>Alle Producten</h1>
    
    {% if product.image %}
      <h2>{{ product.name }}</h2>
      <img src="{{ product.image }}" alt="{{ product.title }}">
    {% else %}
      <p>Geen afbeelding beschikbaar</p>
    {% endif %}
    

    {% render 'partials/footer.liquid' %}
